Package: com.eliofegh.zjdb
Name: zoom jailbreak detection bypass
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ElioFegh
Author: ElioFegh
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
